{% extends 'base.html.twig' %}

{% block title %}Ajouter un utilisateur{% endblock %}

{% block body %}
<form method="post">

    <h1 class="h3 mb-3 font-weight-normal">Ajouter un utilisateur</h1>
    <label for="inputEmail">E-mail <i class="fas fa-at"></i></label>
    <input type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Password <i class="fas fa-key"></i></label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <button class="btn btn-lg btn-primary" type="submit">
        Créer <i class="fas fa-check"></i>
    </button>
</form>
{% endblock %}