{% extends 'home/username.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h2>Mon profil</h2>
    <form id="profilForm" method="POST">
    <label for="password1">{% trans %}I would like to modify my password with this one :{% endtrans %}</label><br/>
    <input type="password" name="password1" id="password1" /><br/>
    <label for="password2">{% trans %}Confirm my new password :{% endtrans %}</label><br/>
    <input type="password" name="password2" id="password2"/> <br/>
    <input type="button" user_id="{{ user.getId }}" id="submitBtn" class="btn btn-secondary" disabled value="Modifier mon mot de passe"></input>
    </form>
{% endblock %}