{# templates/home/username.html.twig #}
{% extends 'home/layout.html.twig'%}

{% block header %}
    {% if username == "inconnu" %}
    <li class="nav-item">
        <a class="nav-link" href="/login">Se connecter</a>
    </li>
    {% else %}
        {% if username == "admin@admin.com" %}
        <li class="nav-item">
            <a class="nav-link" href="/admin/add_user">Ajouter un utilisateur</a>
        </li>
        {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="/logout">Se déconnecter</a>
    </li>
    {% endif %}
{% endblock %}

{% block page_contents %}Bonjour {{username}}.
{% if username == "inconnu" %}
    <p>Il semblerait que vous ne soyez pas connecté. Connectez-vous pour accéder à plus d'options.</p>
{% else %}
    <p>[...]</p>
{% endif %}

{% endblock %}