{% block _image_stack_images_widget %}
    <ul id="images-fields-list"
        data-prototype="{{ form_widget(prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ value|length }}"
    >
        {% for key,imageUnitForm in form.children %}
            {{ form_widget(imageUnitForm) }}

        {% endfor %}
    </ul>

    <button type="button"
            class="add-another-collection-widget"
            data-list-selector="#images-fields-list">Add another Image</button>
{% endblock %}