{% extends 'home/username.html.twig' %}

{% block title %}Edit ImageStack{% endblock %}

{% block body %}
    <h1>Edit ImageStack</h1>

    {{ include('image_stack/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-dark" href="{{ path('image_stack_index') }}">← Back to list</a>

    {{ include('image_stack/_delete_form.html.twig') }}
{% endblock %}
