{# templates/header.html.twig #}
<head>
<meta charset="UTF-8">
<title>{% block title %}{{title}}{% endblock %}</title>
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}
<link id="favicon" rel="shortcut icon" href="{{asset('favicon.ico')}}" type="image/x-icon"/>
</head>