{% extends 'home/username.html.twig'%}

{% block page_contents %}
    <div id="logged_as">
    {# TODO: TRANSLATION #}
        {{ is_granted('IS_AUTHENTICATED_FULLY') == false ? 'You\'re not signed in' : 'You\'re signed in as '~username}}
    </div>
    <div id="main" class="flex-full-center flex-vert">
        <h1>{% trans into 'fr_FR' %}Welcome to{% endtrans %} {{block('title')}}</h1>
        <a href="{{ path('analyse') }}">{% trans into 'fr_FR' %}Analyse some images{% endtrans %}</a>
    </div>
{% endblock %}