{% extends 'base.html.twig' %}
{% block title %}Uploader{% endblock %}
{% block body%}
    <div id="main" class="flex-full-center flex-vert">
        <form class="flex-vert" action="upload" method="POST">
            {% include 'file_form.html.twig' %}
        </form>
    </div>
{% endblock %}