{% extends 'base.html.twig' %}
{% block title %}Fichiers uploadés : {% endblock %}
{% block body%}
    <div id="main" class="flex-full-center flex-vert">
        <h1>Fichiers uploadés : </h1>
        <p>{{Image.getName}}</p>
        <img class="uploaded-image" src="{{ vich_uploader_asset(Image)}}"/>
    </div>
{% endblock %}